body {
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    line-height: 200%;
    font-family: sans-serif;

    background-color:grey;
    background-image:URL("https://thumbs.dreamstime.com/z/wooden-arrow-sign-post-road-signpost-board-old-panel-made-wood-isolated-40676056.jpg");
    background-repeat: repeat;
    background-position: top right;
}
header {
    text-align: center;
}
nav {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
hr {
    font-size: 20px;
}
main {
    width: 400px;
    height: 350px;
}

aside {
    font-size: 15px;
    text-align: center;
}
h2 {
    font-size: 17px;
    text-align: center;
}
p {
    text-align: center;
}
footer {
    text-align: center;
    font-size: 25px;
}