body {
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    line-height: 200%;
    font-family: sans-serif;

    background-color:grey;
    background-image:URL("https://thumbs.dreamstime.com/z/wooden-arrow-sign-post-road-signpost-board-old-panel-made-wood-isolated-40676056.jpg");
    background-repeat: repeat;
    background-position: top right;
}
.wrapper {
    padding: 0px 10px 10px 50px;

}
header {
    text-align: center;   
}
nav {
    
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

hr {
    font-size: 20px;
}
main {
    
    text-align: center:    
    
}

aside {
    font-size: 15px;
    text-align: center;
}
h2 {
    color: violet;
    font-size: 17px;
    text-align: center;
}
p {
    text-align: center;
    padding-bottom: 10px; 
}
footer {
    background-size: 50%;
    background-image:URL("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTOB2ajtJHvhJUO0EruFkdgIiq-TfJLbyRWz391lReoKnkxai3j");
    color: lightgreen;
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    padding-bottom: 10px; 
}